<!-- User connected List -->
<div class="container">
  <div class="row">
    <div class="panel panel-chat"  *ngIf="identity">
      <div class="panel-heading">
        <a href="" class="chatMinimize" (click)="onClickWindow()"><span class="span">Conectados</span></a>
        <div class="clearFix"></div>

        <div class="chat-users panel-body-window">
    
          <div class="users-list">
              <div class="chat-user" *ngFor="let follows of followers">
                    <span class="pull-right label label-success">Online</span>
                    <img class="chat-avatar" src="{{url + 'get-image-user/' + follows.user.image}} " *ngIf="follows.user.image">
                    <img src="../../../assets/userDefault.png" *ngIf="!follows.user.image">
                    <div class="chat-user-name">
                        <a href="#">{{follows.user.name + ' ' + follows.user.surname}} </a>
                    </div>
              </div>
              <!--<div class="chat-user">
                  <img class="chat-avatar" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                  <div class="chat-user-name">
                      <a href="#">Karl Jordan</a>
                  </div>
              </div>
               <div class="chat-user">
                  <img class="chat-avatar" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                  <div class="chat-user-name">
                      <a href="#">Monica Smith</a>
                  </div>
              </div>
              <div class="chat-user">
                  <span class="pull-right label label-primary">Online</span>
                  <img class="chat-avatar" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                  <div class="chat-user-name">
                      <a href="#">Michael Smith</a>
                  </div>
              </div>
              <div class="chat-user">
                  <span class="pull-right label label-primary">Online</span>
                  <img class="chat-avatar" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="">
                  <div class="chat-user-name">
                      <a href="#">Janet Smith</a>
                  </div>
              </div>
              <div class="chat-user">
                  <img class="chat-avatar" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="">
                  <div class="chat-user-name">
                      <a href="#">Alice Smith</a>
                  </div>
              </div>
              <div class="chat-user">
                  <img class="chat-avatar" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                  <div class="chat-user-name">
                      <a href="#">Monica Cale</a>
                  </div>
              </div>
              <div class="chat-user">
                  <img class="chat-avatar" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                  <div class="chat-user-name">
                      <a href="#">Mark Jordan</a>
                  </div>
              </div>
              <div class="chat-user">
                  <span class="pull-right label label-primary">Online</span>
                  <img class="chat-avatar" src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="">
                  <div class="chat-user-name">
                      <a href="#">Janet Smith</a>
                  </div>
              </div> -->
          </div>
          
          <div class="clear-fix"></div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!--<div class="col-md-3">
  
</div>
 Chat Box -->